doc/ghmm.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 sp1 U (http://www.altova.com)-->
<!ELEMENT HMM (alphabet+, background?, labelalphabet?, node+, edge+)>
<!ATTLIST HMM
	name CDATA #REQUIRED
	type CDATA #REQUIRED
>
<!ELEMENT alphabet (symbol+)>
<!ATTLIST alphabet
	id CDATA #REQUIRED
>
<!ELEMENT labelalphabet (symbol+)>
<!ATTLIST alphabet
	id CDATA #REQUIRED
>
<!ELEMENT background (#PCDATA)>
<!ATTLIST background
	name CDATA #IMPLIED
	order CDATA #IMPLIED
>
<!ELEMENT discrete (#PCDATA)>
<!ELEMENT edge (probability)>
<!ATTLIST edge
	source CDATA #REQUIRED
	target CDATA #REQUIRED
>
<!ELEMENT node ((discrete | continuous | pair | higherOrder), position?, background?, class?)>
<!ATTLIST node
	id CDATA #REQUIRED
	initial CDATA #REQUIRED
	desc CDATA #REQUIRED
>
<!ELEMENT position EMPTY>
<!ATTLIST position
	x CDATA #REQUIRED
	y CDATA #REQUIRED
>
<!ELEMENT probability (#PCDATA)>
<!ELEMENT symbol (#PCDATA)>
<!ATTLIST symbol
	code CDATA #REQUIRED
>
